<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="jquery-1.6.2.min.js"></script>
	<script src="dict.js"></script>
	

</head>
<body>
	<div class="container">

		<div class="main">
			<h1>WAP Online Dictionary</h1>
			<form>
					<span id="err"></span>
					<br>
					
					<input type="text" id="search" name="search" value="" placeholder="search" />
					
					
					<input type="button" name="btn" id="btnSearch" value="Lookup" />

					<br>
					<br>

			</form>
			<span id="err1"></span>
			<div id="meaning">
						
			</div>
		</div>

		
	</div>
	
</body>
</html>